#testimonials {
  align-items: baseline;
  background-color: #ff4c68;
}

.navbar {
  position: fixed;
  background-color: #ff4c68;
}

@media (min-width:800px; ) {
  .col {
    width: 200px;
  }
}

.cta-div {
  background-color: #ff4c68;
  text-align: center;
  padding-bottom: 50px;
  padding-top: 50px;
  color: white;
  font-family: "Montserrat-bold", cursive;
}
.last-footer {
  font-size: 45px;
}

.footer-image {
  width: 25px;
  margin-left: 45%;
  padding-top: 40px;
  padding-bottom: 30px;
}

@media (min-width:800px) {
  .footer-image {
    margin-left: 43%;
  }
}

/* @media (max-width:985px) {
  .rotate{
    margin-top: 0;
  }
} */
/* @media (min-width:500px) {
  .font-size {
    font-size: 50px;
  }
  .rotate{
    transform: rotate(120deg);
  }
} */
.pricing-section {
  background-color: #fcf0f1;
  border-radius: 100%;
  font-family: sans-serif;
  font-size: 20px;
}

#press {
  text-align: center;
}

.carousel-item {
  padding: 3% 13%;
}

.pricing-head {
  text-align: center;
  background-color: #ff4c68;
  margin-top: 20px;
  padding-top: 20px;
  padding-bottom: 10px;
  margin-bottom: 20px;
}

.pricing-part {
  color: lightblue;
  font-size: 25px;
}

.pricing-part1 {
  font-size: 40px;
  text-decoration: underline;
  text-decoration-style: wavy;
  text-decoration-color: silver;
}

.press-img {
  width: 150px;
  margin-left: 50px;
  padding-bottom: 30px;
  padding-top: 30px;
}

.image-test {
  width: 10%;
  border-radius: 100%;
  margin-left: 39%;
  margin-bottom: 20px;
  padding-top: 30px;
  margin-right: 20px;
}

.container-fluid {
  background-color: #ff4c68;
  position: relative;
  top: 10px;
}

.container {
  margin-bottom: 0;
}

.play {
  width: 15px;
  margin-bottom: 4px;
}
.nav-link{
  color: black;
}
.color{
  color: black;
}
.prob {
  position: absolute;
  background-color: #ff4c68;
  width: 100%;
  height: 60px;
}

.dog {
  position: absolute;
  top: 670px;
  z-index: 1;
  background-color: white;
  padding-top: 30px;
}

@media (max-width:1200px) {
  .dog {
    position: absolute;
    padding-top: 0;
  }
}

.font-size {
  font-family: 'Russo One', serif;
  color: white;
  font-size: 150%;
  margin-top: 40px;
  margin-left: 19.5%;
  margin-right: 10%
}

@media (max-width:600px) {
  .font-size {
    font-size: 35px;
  }
}

.extra-buttom {
  font-family: 'Russo One', serif;
  color: white;
  font-size: 3rem;
  margin-top: 40px;
  margin-left: 100px;
}

.btn {
  margin-top: 40px;
  margin-left: 19.5%;
  font-family: 'Montserrat', sans-serif;
}

.row {
  font-family: fantasy, sans-serif;
  font-weight: lighter;
  font-size: 2em;
}

.container {
  margin-left: 50px;
  margin-right: 50px;
}

.h3 {
  font-family: "Montserrat-bold", sans-serif;
  font-size: 10px;
  color: #8f8f8f;
  padding-bottom: 65px;
}

.icon {
  width: 50px;
  border-radius: 100%;
  margin-left: 45%;
  margin-right: 45%;
  background-color: #ff4c68;
}

.icon:hover {
  background-color: silver;
}

.mid1 {
  width: 50px;
  margin-left: 45%;
  margin-right: 45%;
}

.phone {
  margin-left: 25%;
}

.navbar-brand {
  color: white;
  font-family: 'Ubuntu', sans-serif;
  font-size: 2.5rem;
  font-weight: bold;
}

.navbar-brand:hover {
  color: black;
}

.nav-link {
  color: white;
  font-weight: lighter;
  margin: 0 18px;
}

.nav-link:hover {
  color: silver;
}

.rotate {
  transform: rotate(20deg);
  width: 61.9%;
}

.btn:hover {
  border: solid #AD97AD 1px;
  background: #381238;
  background-image: -webkit-linear-gradient(top, #381238, #9E95A3);
  background-image: -moz-linear-gradient(top, #381238, #9E95A3);
  background-image: -ms-linear-gradient(top, #381238, #9E95A3);
  background-image: -o-linear-gradient(top, #381238, #9E95A3);
  background-image: -webkit-gradient(to bottom, #381238, #9E95A3);
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  text-decoration: none;
}
